@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  --primary-color: #3498db;
}

input:focus {
  outline: none !important;
}
textarea:focus {
  outline: none !important;
}

html, body {
  width: 100%;
  height: 100%;
}
