@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  --primary-color: #3498db;
}

input:focus, textarea:focus, button:focus {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  width: 100%;
  height: 100%;
}
